.card-container{
    width: calc(20vw - 10px);
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    transition: bottom 0.3s ease;
    bottom: 0;
}

.variante-container {
    height: 400px;
    cursor: pointer;
    margin-left: 3.5vw;
    position: relative;
    transition: bottom 0.3s ease;
    bottom: 0;
}

.variant-size {
    height: 400px;
}

.card-container:hover, .variante-container:hover {
    bottom: 1.5%;
}

.card-size {
    height: 380px;
}

.image-container {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.image-carte {
    height: 90%;    
    object-fit: cover;
    box-shadow: 5px 5px 3px rgba(0, 123, 255, 0.3);
    border-radius: 3%;
    cursor: pointer;
}

.title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

button {
    border: 0;
    background-color: transparent;
}