@if (pagination.length > 1){
<nav>
    <button (click)="previous()" [disabled]="actualPage === 1">
        < Précédent </button>

            @for (page of pagination; track $index) {
            @if(typeof page === "number"){
            <button [disabled]="page === actualPage" (click)="changePage(page)">
                {{ page }}
            </button>
            } @else {
            <span>...</span>
            }
            }

            <button (click)="next()" [disabled]="actualPage === nombrePage">
                Suivant >
            </button>
</nav>
}