<form [formGroup]="form" (ngSubmit)="getValue()">
    <checkbox-list [checkboxListOptions]="factionOptions"></checkbox-list>
    <checkbox-list [checkboxListOptions]="rarityOptions"></checkbox-list>
    <checkbox-list [checkboxListOptions]="typesOptions"></checkbox-list>
    <div>
        <span>Sous-Types: </span>
        <select formControlName="subTypes">
            <option value=""></option>
            @for (subType of SUB_TYPE_OPTIONS; track $index) {
            <option [value]="subType.value">{{ subType.libelle }}</option>
            }
        </select>
    </div>
    <checkbox-list [checkboxListOptions]="setsOptions"></checkbox-list>
    <checkbox-list [checkboxListOptions]="mainCostsOptions"></checkbox-list>
    <checkbox-list [checkboxListOptions]="recallCostsOptions"></checkbox-list>
    <div>
        <span>Attribut : </span>
        <checkbox-list [checkboxListOptions]="forestCaracValuesOptions"></checkbox-list>
        <checkbox-list [checkboxListOptions]="mountainCaracValuesOptions"></checkbox-list>
        <checkbox-list [checkboxListOptions]="oceanCaracValuesOptions"></checkbox-list>
    </div>
    <!-- À factoriser -->

    <div class="dropdown" (click)="toggleDropdown()" tabindex="0">
        <button type="button" class="dropdown-button">Mots Clés</button>
        <div formArrayName="keywords" class="dropdown-content" [style.display]="dropdownOpen ? 'block' : 'none'">
            @for (keyword of keywords.controls; track $index) {
            <div>
                <label>
                    <input type="checkbox" [formControlName]="$index" />
                    {{ KEYWORD_OPTIONS[$index].libelle }}
                </label>
            </div>
            }
        </div>
    </div>

    <div>
        <label>{{ ALT_ART_OPTION }}</label>
        <input type="checkbox" formControlName="altArt" />
    </div>
    <div>
        <label>{{ NAME_OPTION }}</label>
        <input type="text" formControlName="name" placeholder="..." />
    </div>
    <div>
    </div>
    <div>
        <button type="submit">Rechercher</button>
    </div>
</form>
<div class="sort-option-dropdown-container mt-3" (click)="toggleDropdownTrier()" tabindex="0">
    <button type="button" class="dropdown-button">{{ sortTitleLibelle }} </button>
    <div id="sort-option-dropdown" class="dropdown-content" [style.display]="dropdownTrierOpen ? 'block' : 'none'">
        @for (option of SORT_OPTIONS; track $index) {
        <p (click)="orderBy(option)">{{ option.libelle }}</p>
        }
    </div>
</div>