<form [formGroup]="form" (ngSubmit)="getValue()">
    <checkbox-list [checkboxListOptions]="factionOptions" [formType]="FormTypeEnum.CheckList"></checkbox-list>
    <checkbox-list [checkboxListOptions]="rarityOptions" [formType]="FormTypeEnum.CheckList"></checkbox-list>
    <checkbox-list [checkboxListOptions]="typesOptions" [formType]="FormTypeEnum.CheckList"></checkbox-list>

    <checkbox-list [checkboxListOptions]="subTypesOptions" [formType]="FormTypeEnum.Selection"></checkbox-list>

    <checkbox-list [checkboxListOptions]="setsOptions" [formType]="FormTypeEnum.CheckList"></checkbox-list>
    <checkbox-list [checkboxListOptions]="mainCostsOptions" [formType]="FormTypeEnum.CheckList"></checkbox-list>
    <checkbox-list [checkboxListOptions]="recallCostsOptions" [formType]="FormTypeEnum.CheckList"></checkbox-list>
    <div>
        <span>Attribut : </span>
        <checkbox-list [checkboxListOptions]="forestCaracValuesOptions" [formType]="FormTypeEnum.CheckList"></checkbox-list>
        <checkbox-list [checkboxListOptions]="mountainCaracValuesOptions" [formType]="FormTypeEnum.CheckList"></checkbox-list>
        <checkbox-list [checkboxListOptions]="oceanCaracValuesOptions" [formType]="FormTypeEnum.CheckList"></checkbox-list>
    </div>

    <checkbox-list [checkboxListOptions]="keywordsOptions" [formType]="FormTypeEnum.NestedCheckList"></checkbox-list>

    <div>
        <label>{{ ALT_ART_OPTION }}</label>
        <input type="checkbox" formControlName="altArt" />
    </div>
    <div>
        <label>{{ NAME_OPTION }}</label>
        <input type="text" formControlName="name" placeholder="..." />
    </div>
    <div>
        <button type="submit">Rechercher</button>
    </div>
</form>
<div class="sort-option-dropdown-container mt-3" (click)="toggleDropdownTrier()" tabindex="0">
    <button type="button" class="dropdown-button">{{ sortTitleLibelle }} </button>
    <div id="sort-option-dropdown" class="dropdown-content" [style.display]="dropdownTrierOpen ? 'block' : 'none'">
        @for (option of SORT_OPTIONS; track $index) {
        <p (click)="orderBy(option)">{{ option.libelle }}</p>
        }
    </div>
</div>