<form [formGroup]="form" (ngSubmit)="getValue()">
    <form-chunk [checkboxListOptions]="factionOptions" [formType]="FormTypeEnum.CheckList"></form-chunk>
    <form-chunk [checkboxListOptions]="rarityOptions" [formType]="FormTypeEnum.CheckList"></form-chunk>
    <form-chunk [checkboxListOptions]="typesOptions" [formType]="FormTypeEnum.CheckList"></form-chunk>

    <form-chunk [checkboxListOptions]="subTypesOptions" [formType]="FormTypeEnum.Selection"></form-chunk>

    <form-chunk [checkboxListOptions]="setsOptions" [formType]="FormTypeEnum.CheckList"></form-chunk>
    <form-chunk [checkboxListOptions]="mainCostsOptions" [formType]="FormTypeEnum.CheckList"></form-chunk>
    <form-chunk [checkboxListOptions]="recallCostsOptions" [formType]="FormTypeEnum.CheckList"></form-chunk>
    <div>
        <span>Attribut : </span>
        <form-chunk [checkboxListOptions]="forestCaracValuesOptions"
            [formType]="FormTypeEnum.CheckList"></form-chunk>
        <form-chunk [checkboxListOptions]="mountainCaracValuesOptions"
            [formType]="FormTypeEnum.CheckList"></form-chunk>
        <form-chunk [checkboxListOptions]="oceanCaracValuesOptions"
            [formType]="FormTypeEnum.CheckList"></form-chunk>
    </div>

    <form-chunk [checkboxListOptions]="keywordsOptions" [formType]="FormTypeEnum.NestedCheckList"></form-chunk>
    <form-chunk [checkboxListOptions]="altArtOptions" [formType]="FormTypeEnum.SimpleInput"></form-chunk>
    <form-chunk [checkboxListOptions]="nameOptions" [formType]="FormTypeEnum.SimpleInput"></form-chunk>

    <div>
        <button type="submit">Rechercher</button>
    </div>
</form>
<div class="sort-option-dropdown-container mt-3" (click)="toggleDropdownTrier()" tabindex="0">
    <button type="button" class="dropdown-button">{{ sortTitleLibelle }} </button>
    <div id="sort-option-dropdown" class="dropdown-content" [style.display]="dropdownTrierOpen ? 'block' : 'none'">
        @for (option of SORT_OPTIONS; track $index) {
        <p (click)="orderBy(option)">{{ option.libelle }}</p>
        }
    </div>
</div>