@if(card != null){
<div id="page-container">
    <div id="card-name-container">
        <h1>{{ card.name }}</h1>
    </div>
    <div id="main-container">
        <div id="card-image-container">
            <div id="card-image-area">
                <img [src]="card.imagePath" />
            </div>
        </div>
        <div id="card-detail-container">
            <div id="main-informations-container">
                <div id="card-type-and-subtype-container">
                    <div class="sub-container">
                        <span>{{ DETAIL_CARTE_HTML_TEXTE.TYPE }}</span>
                        <a (click)="goToSearchWithType(card.cardType.reference)">{{ card.cardType.name }}</a>
                    </div>
                    <div class="sub-container">
                        <span>{{ DETAIL_CARTE_HTML_TEXTE.SUB_TYPE }}</span>
                        <div>
                            @for (subType of card.cardSubTypes; track $index) {
                            <a (click)="goToSearchWithSubType(subType.reference)">{{ subType.name }}</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}