#page-container {
    width: 100vw;
}

#card-name-container {
    width: 100%;
    height: 80px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4rem;
}

#main-container {
    width: 100%;
    display: flex;
}

#card-image-container {
    width: 30%;
    display: flex;
    justify-content: center;
}

#card-detail-container {
    height: 500px;
    width: 70%;
}

#card-image-area {
    width: 75%;
    position: relative;
    top: 5rem;
    overflow: hidden;
}

#main-informations-container {
    height: 500px;
    width: 50%;
    margin-top: 5rem;
    background-color: rgb(236, 235, 232);
}

.card-type-and-subtype-container {
    display: flex;
    height: 100px;
}

.attribute-container {
    width: 49.5%;
    display: flex;
    flex-direction: column;
    padding: 2% 0 0 2%;
}

.attribute-sub-container {
    display: flex;
    align-items: center;
    margin-top: 2%;
}

.sub-container {
    width: 49.5%;
    display: flex;
    flex-direction: column;
    padding: 2% 0 0 2%;
}

.effect-container {
    display: flex;
    flex-direction: column;
    padding: 2% 0 0 2%;
}

.effect-container p span {
    font-weight: normal;
}

.sub-container span,
.attribute-container span,
.effect-container>span {
    margin-bottom: 2%;
    font-weight: bold;
}

.sub-container a {
    color: blue;
    margin-right: 2%;
}

.sub-container a:hover {
    cursor: pointer;
    text-decoration: underline;
}

img {
    width: 90%;
    border-radius: 2.5%;
    object-fit: cover;
    box-shadow: 5px 5px 3px rgba(0, 123, 255, 0.3);
}

.golden-text {
    color: rgb(166, 141, 48);
    font-weight: bold !important;
}

.white-text {
    color: white;
}

.attribute-cost-area {
    width: 11%;
    height: 71%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1px;
    border-radius: 75%;
    cursor: pointer;
    margin-right: 2%;
}

.attribute-area {
    min-width: 15%;
    max-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 1%;
    margin-right: 2%;
}

.forest {
    background-color: rgb(146, 176, 81);
}

.mountain {
    background-color: rgb(188, 128, 83);
}

.ocean {
    background-color: rgb(102, 115, 163);
}

.main-cost {
    background-color: rgb(108, 172, 211);
}

.altered-icon {
  font-family: 'AlteredIcons', sans-serif;
}

.standard-text {
  font-family: 'AlteredStandard', sans-serif;
}