@if(card != null){
<div id="page-container">
    <div id="card-name-container">
        <h1>{{ card.name }}</h1>
    </div>
    <div id="main-container">
        <div id="card-image-container">
            <div id="card-image-area">
                <img [src]="card.imagePath" />
            </div>
        </div>
        <div id="card-detail-container">
            <div id="main-informations-container" class="informations-container">
                <div class="title-container">
                    <div>
                        {{ card.name }}
                    </div>
                    <div class="icon-link" (click)="goToSearch('faction', card.mainFaction.reference)" [innerHTML]="card.mainFaction.reference | factionParser"></div>
                </div>
                <hr>
                <div class="card-type-and-subtype-container">
                    <div class="sub-container">
                        <span>{{ DETAIL_CARTE_HTML_TEXTE.TYPE }}</span>
                        <a (click)="goToSearch('cardType', card.cardType.reference)">{{ card.cardType.name }}</a>
                    </div>
                    <div class="sub-container">
                        <span>{{ DETAIL_CARTE_HTML_TEXTE.SUB_TYPE }}</span>
                        <div>
                            @for (subType of card.cardSubTypes; track $index) {
                            <a (click)="goToSearch('cardSubTypes', subType.reference)">{{ subType.name }}</a>
                            }
                        </div>
                    </div>
                </div>
                <div class="card-type-and-subtype-container">
                    <div class="attribute-container">
                        <div>
                            <span>{{ DETAIL_CARTE_HTML_TEXTE.ATTRIBUTS }}</span>
                        </div>
                        <div class="attribute-sub-container">
                            <div class="attribute-cost-area main-cost">
                                <p (click)="goToSearch('mainCost', card.elements.MAIN_COST)">
                                    @for (text of card.elements.MAIN_COST | goldenText; track $index) {
                                    <span [class.cell-golden-text]="text.isGold" [class.white-text]="!text.isGold">{{
                                        text.text }}</span>
                                    }
                                </p>
                            </div>
                            <div [style.background]="getRecallCostColor(card.mainFaction.reference)"
                                class="attribute-cost-area recall-cost">
                                <p (click)="goToSearch('recallCost', card.elements.RECALL_COST)">
                                    @for (text of card.elements.RECALL_COST | goldenText; track $index) {
                                    <span [class.cell-golden-text]="text.isGold" [class.white-text]="!text.isGold">{{
                                        text.text }}</span>
                                    }
                                </p>
                            </div>
                            @if (card.cardType.reference === CHARACTER) {
                            <div class="attribute-area" [class.empty-cell]="card.elements.FOREST_POWER === '0'" [class.forest]="card.elements.FOREST_POWER !== '0'">
                                <p (click)="goToSearch('forestCaracValues', card.elements.FOREST_POWER)">
                                    @for (text of card.elements.FOREST_POWER | goldenText; track $index) {
                                    <span [class.cell-golden-text]="text.isGold" [class.white-text]="!text.isGold">{{
                                        text.text }}</span>
                                    }
                                </p>
                            </div>
                            <div class="attribute-area" [class.empty-cell]="card.elements.MOUNTAIN_POWER === '0'" [class.mountain]="card.elements.MOUNTAIN_POWER !== '0'">
                                <p (click)="goToSearch('mountainCaracValues', card.elements.MOUNTAIN_POWER)">
                                    @for (text of card.elements.MOUNTAIN_POWER | goldenText; track $index) {
                                    <span [class.cell-golden-text]="text.isGold" [class.white-text]="!text.isGold">{{
                                        text.text
                                        }}</span>
                                    }
                                </p>
                            </div>
                            <div class="attribute-area" [class.empty-cell]="card.elements.OCEAN_POWER === '0'" [class.ocean]="card.elements.OCEAN_POWER !== '0'">
                                <p (click)="goToSearch('oceanCaracValues', card.elements.OCEAN_POWER)">
                                    @for (text of card.elements.OCEAN_POWER | goldenText; track $index) {
                                    <span [class.cell-golden-text]="text.isGold" [class.white-text]="!text.isGold">{{
                                        text.text
                                        }}</span>
                                    }
                                </p>
                            </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="card-type-and-subtype-container">
                    <div class="effect-container">
                        <span>{{ DETAIL_CARTE_HTML_TEXTE.MAIN_EFFECT }}</span>
                        <p>
                            @for (text of card.elements.MAIN_EFFECT | goldenText; track $index) {
                            <span [class.golden-text]="text.isGold" [innerHTML]="text.text | textParser"></span>
                            }
                        </p>
                        <p>
                            @for (text of card.elements.ECHO_EFFECT | goldenText; track $index) {
                            <span [class.golden-text]="text.isGold" [innerHTML]="text.text | textParser"></span>
                            }
                        </p>
                    </div>
                </div>
            </div>
            <div id="other-informations-container" class="informations-container">
                <div class="title-container">
                    <div>
                        {{ DETAIL_CARTE_HTML_TEXTE.INFORMATIONS }}
                    </div>
                    <div></div>
                </div>
                <hr>
                <div class="card-type-and-subtype-container">
                    <div class="sub-container">
                        <span>{{ DETAIL_CARTE_HTML_TEXTE.RARITY }}</span>
                        <a (click)="goToSearch('rarity', card.rarity.reference)">{{ card.rarity.name }}</a>
                    </div>
                    <div class="sub-container">
                        <span>{{ DETAIL_CARTE_HTML_TEXTE.SETS }}</span>
                        <a (click)="goToSearch('sets', card.cardSet.reference)">{{ card.cardSet.name }}</a>
                    </div>
                </div>
            </div>
            <div id="other-informations-container" class="informations-container">
                <div class="title-container">
                    <div>
                        {{ DETAIL_CARTE_HTML_TEXTE.VARIANTES }}
                    </div>
                    <div></div>
                </div>
                <hr>
                <div class="variante-area">
                    @for (variante of variantesCarte; track $index) {
                        <card [card]="variante" [modeVariante]="true" (varianteADetailler)="afficherVariante($event)"></card>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
}